
---
const{ link, caption, height}= Astro.props
---


  <div id ="outline"> <img src={link} height={height};>
	<p>{caption}</p> </div>
<style>
#outline
{
  padding:15px;
  background-color:palevioletred;
  transform:rotate(3deg);
  width:500px;
  align-items: center;


}


</style>