
---
const{ link, caption, height}= Astro.props
---


  <div id ="outline">
     <img src={link} height={height};>
	<p>{caption}</p>
</div>

<style>
#outline
{
  transform:rotate(5deg);
  width:500px;
  display: flex;
  justify-content: center;
  align-items: center;



}

</style>